# Server Configuration
PORT=5000

# Security (JWT configuration if implementing user authentication sessions)
JWT_SECRET=supersecretjwtsecretkeychangeforproduction

# Database Connection (PostgreSQL Connection String URI)
DATABASE_URL=postgresql://username:password@hostname:port/dbname
